
<%= image_tag wicked_pdf_asset_base64("CRUCES.png"), class:
"corner-image-top-right", alt: "imagen de marco superior derecho" %>
<div class="header">

            <div class="logo">
             <%= image_tag wicked_pdf_asset_base64("LOGO.png"), class:
                "logo_header", alt: "logo header" %>
            </div>
            <div class="title"><span class="title-subrallado">health application</span>
                <div class="container-subtitle">
                    <div class="member-id">
                        <%= image_tag wicked_pdf_asset_base64("tarjeta-de-visita.png"), class:
                        "icono-svg-title", alt: "imagen icono tarjeta de visita" %>
                      <span>Member ID: <%= @member_id %></span>
                    </div>
                    <div class="ffm-id"><span><i>FFM ID: </i><%= @ffm_id %></span></div>
                  </div>
            </div>
                <div class="box-id-conatiner">
                <div class="box-id"><i>CIG ID:</i><span class="cig_id--variable"><%= @cig_id %></span></div>
            </div>
        </div>
        <div class="content-main">
          <div class="container-border-colorido">
          <%= image_tag wicked_pdf_asset_base64("border-card.png"), class:
          "border_colorido", alt: "border colorido" %>
            <section class="my-gradient-border-colorido">
                   <div class="container-seleccion container-first-card-info">
                    <div class="fila">
                      <!-- -->
                      <div class="container-alineando-elementos-row" >
                        <div class="item_info_pdf">
                          <%= image_tag wicked_pdf_asset_base64("correo-electronico.png"), class: "icono-svg", alt: "imagen icono tarjeta de visita" %>
                          <span class="item-info">Resident adress:</span>
                        </div>
                        <div class="espacio-vacio" style=" width: 15%;">
                          <em class="pdf-variable"><%= @mailing_adress %></em>
                        </div>

                        <div  class="item_info_pdf">
                          <%= image_tag wicked_pdf_asset_base64("building-silhouette.png"), class: "icono-svg", alt: "imagen icono tarjeta de visita" %>
                          <span class="item-info">APT:</span>
                        </div>
                        <div class="espacio-vacio" style=" width: 4.89%;">
                          <em class="pdf-variable"><%= @apt_%></em>
                        </div>

                        <div class="item_info_pdf">
                          <%= image_tag wicked_pdf_asset_base64("mapa.png"), class: "icono-svg", alt: "imagen icono tarjeta de visita" %>
                          <span class="item-info">CITY:</span>
                        </div>
                         <div class="espacio-vacio" style=" width: 8.67%;">
                          <em class="pdf-variable"><%= @city_%></em>
                        </div>

                        <div class="item_info_pdf">
                          <%= image_tag wicked_pdf_asset_base64("mapa.png"), class: "icono-svg", alt: "imagen icono tarjeta de visita" %>
                          <span class="item-info">Country:</span>
                        </div>
                         <div class="espacio-vacio" style=" width: 9.89%;">
                          <em class="pdf-variable"><%= @country_%></em>
                        </div>

                        <div class="item_info_pdf">
                          <%= image_tag wicked_pdf_asset_base64("mapa.png"), class: "icono-svg", alt: "imagen icono tarjeta de visita" %>
                          <span class="item-info">State:</span>
                        </div>
                         <div class="espacio-vacio" style=" width: 8.11%;">
                          <em class="pdf-variable"><%= @city_%></em>
                        </div>

                        <div class="item_info_pdf">
                          <%= image_tag wicked_pdf_asset_base64("codigo-postal.png"), class: "icono-svg", alt: "imagen icono tarjeta de visita" %>
                          <span class="item-info">ZIP CODE:</span>
                        </div>
                        <div class="espacio-vacio" style=" width: 5.89%;">
                          <em class="pdf-variable"><%= @zip_code%></em>
                        </div>
                      </div>
                    </div>
                    <div class="fila">
                      <!-- -->
                      <div class="container-alineando-elementos-row" >
                        <div class="item_info_pdf">
                          <%= image_tag wicked_pdf_asset_base64("correo-electronico.png"), class: "icono-svg", alt: "imagen icono tarjeta de visita" %>
                          <span class="item-info">Mailing adress:</span>
                        </div>
                        <div class="espacio-vacio" style=" width: 15.6%;">
                          <em class="pdf-variable"><%= @mailing_adress %></em>
                        </div>

                        <div  class="item_info_pdf">
                          <%= image_tag wicked_pdf_asset_base64("building-silhouette.png"), class: "icono-svg", alt: "imagen icono tarjeta de visita" %>
                          <span class="item-info">APT:</span>
                        </div>
                        <div class="espacio-vacio" style=" width: 4.89%;">
                          <em class="pdf-variable"><%= @apt_ %></em>
                        </div>

                        <div class="item_info_pdf">
                          <%= image_tag wicked_pdf_asset_base64("mapa.png"), class: "icono-svg", alt: "imagen icono tarjeta de visita" %>
                          <span class="item-info">CITY:</span>
                        </div>
                         <div class="espacio-vacio" style=" width: 8.67%;">
                          <em class="pdf-variable"><%= @city_ %></em>
                        </div>

                        <div class="item_info_pdf">
                          <%= image_tag wicked_pdf_asset_base64("mapa.png"), class: "icono-svg", alt: "imagen icono tarjeta de visita" %>
                          <span class="item-info">Country:</span>
                        </div>
                         <div class="espacio-vacio" style=" width: 9.89%;">
                          <em class="pdf-variable"><%= @country_ %></em>
                        </div>

                        <div class="item_info_pdf">
                          <%= image_tag wicked_pdf_asset_base64("mapa.png"), class: "icono-svg", alt: "imagen icono tarjeta de visita" %>
                          <span class="item-info">State:</span>
                        </div>
                         <div class="espacio-vacio" style=" width: 8.11%;">
                          <em class="pdf-variable"><%= @city_ %></em>
                        </div>

                        <div class="item_info_pdf">
                          <%= image_tag wicked_pdf_asset_base64("codigo-postal.png"), class: "icono-svg", alt: "imagen icono tarjeta de visita" %>
                          <span class="item-info">ZIP CODE:</span>
                        </div>
                        <div class="espacio-vacio" style=" width: 5.89%;">
                          <em class="pdf-variable"><%= @zip_code %></em>
                        </div>
                      </div>
                    </div>
                    <div class="fila">
                      <!-- -->
                      <div class="container-alineando-elementos-row" >
                        <div class="item_info_pdf">
                          <%= image_tag wicked_pdf_asset_base64("telefono.png"), class: "icono-svg", alt: "imagen icono tarjeta de visita" %>
                          <span class="item-info">phone:</span>
                        </div>
                          <div class="espacio-vacio" style=" width: 31.5%;">
                            <em class="pdf-variable"><%= @phone %></em>
                          </div>
                          <div class="item_info_pdf">
                            <%= image_tag wicked_pdf_asset_base64("email.png"), class: "icono-svg", alt: "imagen icono tarjeta de visita" %>
                            <span class="item-info">EMAIL:</span>
                          </div>
                          <div class="espacio-vacio " style=" width: auto;">
                            <em class="pdf-variable no-capitalize"><%= @email %></em>
                          </div>
                        </div>
                      </div>
                   </div>
            </section>
          </div>

          <div class="container-border-colorido">
            <%= image_tag wicked_pdf_asset_base64("border-card-segundo.png"), class:
            "border_colorido", alt: "border colorido" %>
            <section class="my-gradient-border-colorido">
                <div class="container-seleccion">
                    <div class="fila">
                        <div class="titulo-seleccion">
                          <label>Cliente</label>
                          <div class="espacio-vacio" style="width: 110px;"></div>
                          <div class="container-si-no">
                            <span class="seleccionado-si-no">M</span>
                            <label class="mi-radio">
                                <input type="radio" name="opcion0" value="opcion0" checked>
                                <span></span>
                            </label>
                            <span class="seleccionado-si-no">F</span>
                            <label class="mi-radio">
                                <input type="radio" name="opcion0" value="opcion0">
                                <span></span>

                            </label>
                          </div>
                        </div>
                        <div class="elemento">
                          <label>cobertura</label>
                          <div class="container-si-no">
                            <span class="seleccionado-si-no">Si</span>
                          <label class="mi-radio">
                            <input type="radio" name="opcion1" value="opcion1">
                            <span></span>
                          </label>
                          <span class="seleccionado-si-no">No</span>
                          <label class="mi-radio">
                            <input type="radio" name="opcion1" value="opcion1">
                            <span></span>
                          </label>
                          </div>
                        </div>
                        <div class="container-align-section-filaUno">
                            <div class="elemento">
                              <label>citizen</label>
                              <div class="container-si-no">
                              <label class="mi-radio">
                                <input type="radio" name="opcion3" value="opcion3">
                                <span></span>
                              </label>
                              </div>
                            </div>
                            <div class="elemento">
                              <label>resident</label>
                              <div class="container-si-no">
                                <label class="mi-radio">
                                  <input type="radio" name="opcion4" value="opcion4"  checked>
                                  <span></span>
                                </label>
                                </div>
                            </div>
                            <div class="elemento">
                              <label>employee card</label>
                              <div class="container-si-no">
                                <label class="mi-radio">
                                  <input type="radio" name="opcion5" value="opcion5">
                                  <span></span>
                                </label>
                                </div>
                            </div>
                            <div class="elemento">
                              <label>others</label>
                              <div class="container-si-no">
                                <label class="mi-radio">
                                  <input type="radio" name="opcion6" value="opcion6">
                                  <span></span>
                                </label>
                                </div>
                            </div>
                      </div> 
                </div>
          <!-- Aqui empieza la segunda fila -->
                  <div class="fila">
                    <div class="cliente-section" >
                      <span>Name:</span>
                    </div>
                    <div class="espacio-vacio" style="width: 120px; ">
                      <small class="pdf-variable-content-interno"><%= @name_client %></small>
                    </div>
                    <div class="cliente-section">
                      <span>M-Name:</span>
                    </div>
                    <div class="espacio-vacio" style="width: 140px; ">
                      <small class="pdf-variable-content-interno"><%= @m_name_client %></small>
                    </div>
                    <div class="cliente-section">
                       <span>Last Name:</span>
                    </div>
                    <div class="espacio-vacio" style="width: 100px; ">
                      <small class="pdf-variable-content-interno"><%= @last_name_client %></small>
                    </div>
                    <div class="cliente-section">
                      <span>DOB:</span>
                    </div>
                    <div class="espacio-vacio" style="width: 90px; ">
                      <small class="pdf-variable-content-interno"><%= @dob_client %></small>
                    </div>
                    <div class="cliente-section">
                      <span>Age:</span>
                    </div>
                    <div class="espacio-vacio" style="width: 30px; ">
                      <small class="pdf-variable-content-interno"><%= @age_client %></small>
                    </div>
                    <!-- Repite los elementos de texto y espacio vacío según sea necesario -->
                  </div>
                  <!-- final de la fila 1-->
                  <!-- inicio de la fila 2-->
                  <div class="fila">
                    <div class="cliente-section" >
                      <span>Place of Birth:</span>
                    </div>
                    <div class="espacio-vacio" style="width: 130px; ">
                      <small class="pdf-variable-content-interno"><%= @place_birth_client %></small>
                    </div>
                    <div class="cliente-section">
                      <span>Categoría:</span>
                    </div>
                    <div class="espacio-vacio" style="width: 90px; ">
                      <small class="pdf-variable-content-interno"><%= @categoria_client %></small>
                    </div>
                    <div class="cliente-section">
                       <span>Civil Status :</span>
                    </div>
                    <div class="espacio-vacio" style="width: 90px; ">
                      <small class="pdf-variable-content-interno"><%= @status_civil_client %></small>
                    </div>
                    <div class="cliente-section">
                      <span>Driver License:</span>
                    </div>
                    <div class="espacio-vacio" style="width: 90px; ">
                      <small class="pdf-variable-content-interno"><%= @driver_license_client %></small>
                    </div>
                   
                    <!-- Repite los elementos de texto y espacio vacío según sea necesario -->
                  </div>
                  <!-- Fila 3-->
                  <div class="fila">
                    <div class="cliente-section" >
                      <span>Peso:</span>
                    </div>
                    <div class="espacio-vacio" style="width: 60px; ">
                      <small class="pdf-variable-content-interno"><%= @peso_client %></small>
                    </div>
                    <div class="cliente-section">
                      <span>Talla:</span>
                    </div>
                    <div class="espacio-vacio" style="width: 50px; ">
                      <small class="pdf-variable-content-interno"><%= @talla_client %></small>
                    </div>
                    <div class="cliente-section">
                       <span>SSN:</span>
                    </div>
                    <div class="espacio-vacio" style="width: 170px; ">
                      <small class="pdf-variable-content-interno"><%= @ssn_client %></small>
                    </div>
                    <div class="cliente-section">
                      <span>A#:</span>
                    </div>
                    <div class="espacio-vacio" style="width: 150px; ">
                      <small class="pdf-variable-content-interno"><%= @a_code_client %></small>
                    </div>
                    <div class="cliente-section">
                      <span>Card:</span>
                    </div>
                    <div class="espacio-vacio" style="width: 160px; ">
                      <small class="pdf-variable-content-interno"><%= @card_client %></small>
                    </div>
                    <!-- Repite los elementos de texto y espacio vacío según sea necesario -->
                  </div>
                  <!-- Fin fila 3 -->
                </div>
            </section>
</div>
            <!-- Section dos -->
         
            <section class="my-border-section-gris" style="page-break-inside: avoid !important;" >
              <div class="container-seleccion">
                  <div class="fila">
                      <div class="titulo-seleccion">
                        <label>Spouse</label>
                        <div class="espacio-vacio" style="width: 110px;"></div>
                        <div class="container-si-no">
                          <span class="seleccionado-si-no">M</span>
                          <label class="mi-radio">
                              <input type="radio" name="opcion22" value="opcion22" checked>
                              <span></span>
                          </label>
                          <span class="seleccionado-si-no">F</span>
                          <label class="mi-radio">
                              <input type="radio" name="opcion22" value="opcion22">
                              <span></span>

                          </label>
                        </div>
                      </div>
                      <div class="elemento">
                        <label>cobertura</label>
                        <div class="container-si-no">
                         <span class="seleccionado-si-no">Si</span>
                        <label class="mi-radio">
                          <input type="radio" name="opcion23" value="opcion23" checked>
                          <span></span>
                        </label>
                       <span class="seleccionado-si-no">No</span>
                        <label class="mi-radio">
                          <input type="radio" name="opcion23" value="opcion23">
                          <span></span>
                        </label>
                        </div>
                      </div>
                      <div class="container-align-section-filaUno">
                          <div class="elemento">
                            <label>citizen</label>
                            <div class="container-si-no">
                            <label class="mi-radio">
                              <input type="radio" name="opcion24" value="opcion24">
                              <span></span>
                            </label>
                            </div>
                          </div>
                          <div class="elemento">
                            <label>resident</label>
                            <div class="container-si-no">
                              <label class="mi-radio">
                                <input type="radio" name="opcion24" value="opcion24"  checked>
                                <span></span>
                              </label>
                              </div>
                          </div>
                          <div class="elemento">
                            <label>employee card</label>
                            <div class="container-si-no">
                              <label class="mi-radio">
                                <input type="radio" name="opcion24" value="opcion24">
                                <span></span>
                              </label>
                              </div>
                          </div>
                          <div class="elemento">
                            <label>others</label>
                            <div class="container-si-no">
                              <label class="mi-radio">
                                <input type="radio" name="opcion24" value="opcion24">
                                <span></span>
                              </label>
                              </div>
                          </div>
                    </div> 
              </div>
        <!-- Aqui empieza la segunda fila -->
        <div class="fila">
          <div class="cliente-section" >
            <span>Name:</span>
          </div>
          <div class="espacio-vacio" style="width: 120px; ">
            <small class="pdf-variable-content-interno"><%= @name_spouse %></small>
          </div>
          <div class="cliente-section">
            <span>M-Name:</span>
          </div>
          <div class="espacio-vacio" style="width: 140px; ">
            <small class="pdf-variable-content-interno"><%= @m_name_spouse %></small>
          </div>
          <div class="cliente-section">
             <span>Last Name:</span>
          </div>
          <div class="espacio-vacio" style="width: 100px; ">
            <small class="pdf-variable-content-interno"><%= @last_name_spouse %></small>
          </div>
          <div class="cliente-section">
            <span>DOB:</span>
          </div>
          <div class="espacio-vacio" style="width: 90px; ">
            <small class="pdf-variable-content-interno"><%= @dob_spouse %></small>
          </div>
          <div class="cliente-section">
            <span>Age:</span>
          </div>
          <div class="espacio-vacio" style="width: 30px; ">
            <small class="pdf-variable-content-interno"><%= @age_spouse %></small>
          </div>
        </div>
                <!-- final de la fila 1-->
                <!-- inicio de la fila 2-->
            
                <!-- Fila 3-->
                <div class="fila">
                  <div class="cliente-section" >
                    <span>Peso:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 40px; ">
                    <small class="pdf-variable-content-interno"><%= @peso_spouse %></small>
                  </div>
                  <div class="cliente-section">
                    <span>Talla:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 35px; ">
                    <small class="pdf-variable-content-interno"><%= @talla_spouse %></small>
                  </div>
                  <div class="cliente-section">
                     <span>SSN:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 160px; ">
                    <small class="pdf-variable-content-interno"><%= @ssn_spouse %></small>
                  </div>
                  <div class="cliente-section">
                    <span>A:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 120px; ">
                    <small class="pdf-variable-content-interno"><%= @a_code_spouse %></small>
                  </div>
                  <div class="cliente-section">
                    <span>Card:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 160px; ">
                    <small class="pdf-variable-content-interno"><%= @card_spouse %></small>
                  </div>
                  <!-- Repite los elementos de texto y espacio vacío según sea necesario -->
                </div>
                <!-- Fin fila 3 -->
              </div>
          </section>
        
            <!-- Fin de Section dos-->

            <!--Section trea-->
            
                <section class="my-border-section-gris" >
                  <div class="container-seleccion">
                      <div class="fila">
                          <div class="titulo-seleccion">
                            <label>DEP.1</label>
                            <div class="espacio-vacio" style="width: 110px;"></div>
                            <div class="container-si-no">
                              <span class="seleccionado-si-no">M</span>
                              <label class="mi-radio">
                                  <input type="radio" name="opcion22" value="opcion22" checked>
                                  <span></span>
                              </label>
                              <span class="seleccionado-si-no">F</span>
                              <label class="mi-radio">
                                  <input type="radio" name="opcion22" value="opcion22">
                                  <span></span>
    
                              </label>
                            </div>
                          </div>
                          <div class="elemento">
                            <label>cobertura</label>
                            <div class="container-si-no">
                             <span class="seleccionado-si-no">Si</span>
                            <label class="mi-radio">
                              <input type="radio" name="opcion23" value="opcion23">
                              <span></span>
                            </label>
                           <span class="seleccionado-si-no">No</span>
                            <label class="mi-radio">
                              <input type="radio" name="opcion23" value="opcion23">
                              <span></span>
                            </label>
                            </div>
                          </div>
                          <div class="container-align-section-filaUno">
                              <div class="elemento">
                                <label>citizen</label>
                                <div class="container-si-no">
                                <label class="mi-radio">
                                  <input type="radio" name="opcion24" value="opcion24">
                                  <span></span>
                                </label>
                                </div>
                              </div>
                              <div class="elemento">
                                <label>resident</label>
                                <div class="container-si-no">
                                  <label class="mi-radio">
                                    <input type="radio" name="opcion24" value="opcion24"  checked>
                                    <span></span>
                                  </label>
                                  </div>
                              </div>
                              <div class="elemento">
                                <label>employee card</label>
                                <div class="container-si-no">
                                  <label class="mi-radio">
                                    <input type="radio" name="opcion24" value="opcion24">
                                    <span></span>
                                  </label>
                                  </div>
                              </div>
                              <div class="elemento">
                                <label>others</label>
                                <div class="container-si-no">
                                  <label class="mi-radio">
                                    <input type="radio" name="opcion24" value="opcion24">
                                    <span></span>
                                  </label>
                                  </div>
                              </div>
                        </div> 
                  </div>
            <!-- Aqui empieza la segunda fila -->
                    <div class="fila">
                      <div class="cliente-section" >
                        <span>Name:</span>
                      </div>
                      <div class="espacio-vacio" style="width: 20%; "></div>
                      <div class="cliente-section">
                        <span>M-Name:</span>
                      </div>
                      <div class="espacio-vacio" style="width: 160px; "></div>
                      <div class="cliente-section">
                         <span>Last Name:</span>
                      </div>
                      <div class="espacio-vacio" style="width: 115px; "></div>
                      <div class="cliente-section">
                        <span>DOB:</span>
                      </div>
                      <div class="espacio-vacio" style="width: 110px; "></div>
                      <div class="cliente-section">
                        <span>Age:</span>
                      </div>
                      <div class="espacio-vacio" style="width: 30px; "></div>
                      <!-- Repite los elementos de texto y espacio vacío según sea necesario -->
                    </div>
                    <!-- final de la fila 1-->
                    <!-- inicio de la fila 2-->
                
                    <!-- Fila 3-->
                    <div class="fila">
                      <div class="cliente-section" >
                        <span>Peso:</span>
                      </div>
                      <div class="espacio-vacio" style="width: 40px; "></div>
                      <div class="cliente-section">
                        <span>Talla:</span>
                      </div>
                      <div class="espacio-vacio" style="width: 35px; "></div>
                      <div class="cliente-section">
                         <span>SSN:</span>
                      </div>
                      <div class="espacio-vacio" style="width: 160px; "></div>
                      <div class="cliente-section">
                        <span>A:</span>
                      </div>
                      <div class="espacio-vacio" style="width: 150px; "></div>
                      <div class="cliente-section">
                        <span>Card:</span>
                      </div>
                      <div class="espacio-vacio" style="width: 150px; "></div>
                      <!-- Repite los elementos de texto y espacio vacío según sea necesario -->
                    </div>
                    <!-- Fin fila 3 -->
                  </div>
              </section>
               
            <!--Fin section tres-->

            <!--Section cuadto-->
            <section class="my-border-section-gris">
              <div class="container-seleccion">
                  <div class="fila">
                      <div class="titulo-seleccion">
                        <label>DEP.2</label>
                        <div class="espacio-vacio" style="width: 110px;"></div>
                        <div class="container-si-no">
                          <span class="seleccionado-si-no">M</span>
                          <label class="mi-radio">
                              <input type="radio" name="opcion22" value="opcion22" checked>
                              <span></span>
                          </label>
                          <span class="seleccionado-si-no">F</span>
                          <label class="mi-radio">
                              <input type="radio" name="opcion22" value="opcion22">
                              <span></span>

                          </label>
                        </div>
                      </div>
                      <div class="elemento">
                        <label>cobertura</label>
                        <div class="container-si-no">
                         <span class="seleccionado-si-no">Si</span>
                        <label class="mi-radio">
                          <input type="radio" name="opcion23" value="opcion23">
                          <span></span>
                        </label>
                       <span class="seleccionado-si-no">No</span>
                        <label class="mi-radio">
                          <input type="radio" name="opcion23" value="opcion23">
                          <span></span>
                        </label>
                        </div>
                      </div>
                      <div class="container-align-section-filaUno">
                          <div class="elemento">
                            <label>citizen</label>
                            <div class="container-si-no">
                            <label class="mi-radio">
                              <input type="radio" name="opcion24" value="opcion24">
                              <span></span>
                            </label>
                            </div>
                          </div>
                          <div class="elemento">
                            <label>resident</label>
                            <div class="container-si-no">
                              <label class="mi-radio">
                                <input type="radio" name="opcion24" value="opcion24"  checked>
                                <span></span>
                              </label>
                              </div>
                          </div>
                          <div class="elemento">
                            <label>employee card</label>
                            <div class="container-si-no">
                              <label class="mi-radio">
                                <input type="radio" name="opcion24" value="opcion24">
                                <span></span>
                              </label>
                              </div>
                          </div>
                          <div class="elemento">
                            <label>others</label>
                            <div class="container-si-no">
                              <label class="mi-radio">
                                <input type="radio" name="opcion24" value="opcion24">
                                <span></span>
                              </label>
                              </div>
                          </div>
                    </div> 
              </div>
        <!-- Aqui empieza la segunda fila -->
                <div class="fila">
                  <div class="cliente-section" >
                    <span>Name:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 20%; "></div>
                  <div class="cliente-section">
                    <span>M-Name:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 160px; "></div>
                  <div class="cliente-section">
                     <span>Last Name:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 115px; "></div>
                  <div class="cliente-section">
                    <span>DOB:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 110px; "></div>
                  <div class="cliente-section">
                    <span>Age:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 30px; "></div>
                  <!-- Repite los elementos de texto y espacio vacío según sea necesario -->
                </div>
                <!-- final de la fila 1-->
                <!-- inicio de la fila 2-->
            
                <!-- Fila 3-->
                <div class="fila">
                  <div class="cliente-section" >
                    <span>Peso:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 40px; "></div>
                  <div class="cliente-section">
                    <span>Talla:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 35px; "></div>
                  <div class="cliente-section">
                     <span>SSN:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 160px; "></div>
                  <div class="cliente-section">
                    <span>A:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 150px; "></div>
                  <div class="cliente-section">
                    <span>Card:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 150px; "></div>
                  <!-- Repite los elementos de texto y espacio vacío según sea necesario -->
                </div>
                <!-- Fin fila 3 -->
              </div>
          </section>
            <!--Fin de section cuatro-->
            <!--Section cinco-->
            <section class="my-border-section-gris">
              <div class="container-seleccion">
                  <div class="fila">
                      <div class="titulo-seleccion">
                        <label>DEP.3</label>
                        <div class="espacio-vacio" style="width: 110px;"></div>
                        <div class="container-si-no">
                          <span class="seleccionado-si-no">M</span>
                          <label class="mi-radio">
                              <input type="radio" name="opcion22" value="opcion22" checked>
                              <span></span>
                          </label>
                          <span class="seleccionado-si-no">F</span>
                          <label class="mi-radio">
                              <input type="radio" name="opcion22" value="opcion22">
                              <span></span>

                          </label>
                        </div>
                      </div>
                      <div class="elemento">
                        <label>cobertura</label>
                        <div class="container-si-no">
                         <span class="seleccionado-si-no">Si</span>
                        <label class="mi-radio">
                          <input type="radio" name="opcion23" value="opcion23">
                          <span></span>
                        </label>
                       <span class="seleccionado-si-no">No</span>
                        <label class="mi-radio">
                          <input type="radio" name="opcion23" value="opcion23">
                          <span></span>
                        </label>
                        </div>
                      </div>
                      <div class="container-align-section-filaUno">
                          <div class="elemento">
                            <label>citizen</label>
                            <div class="container-si-no">
                            <label class="mi-radio">
                              <input type="radio" name="opcion24" value="opcion24">
                              <span></span>
                            </label>
                            </div>
                          </div>
                          <div class="elemento">
                            <label>resident</label>
                            <div class="container-si-no">
                              <label class="mi-radio">
                                <input type="radio" name="opcion24" value="opcion24"  checked>
                                <span></span>
                              </label>
                              </div>
                          </div>
                          <div class="elemento">
                            <label>employee card</label>
                            <div class="container-si-no">
                              <label class="mi-radio">
                                <input type="radio" name="opcion24" value="opcion24">
                                <span></span>
                              </label>
                              </div>
                          </div>
                          <div class="elemento">
                            <label>others</label>
                            <div class="container-si-no">
                              <label class="mi-radio">
                                <input type="radio" name="opcion24" value="opcion24">
                                <span></span>
                              </label>
                              </div>
                          </div>
                    </div> 
              </div>
        <!-- Aqui empieza la segunda fila -->
                <div class="fila">
                  <div class="cliente-section" >
                    <span>Name:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 20%; "></div>
                  <div class="cliente-section">
                    <span>M-Name:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 160px; "></div>
                  <div class="cliente-section">
                     <span>Last Name:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 115px; "></div>
                  <div class="cliente-section">
                    <span>DOB:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 110px; "></div>
                  <div class="cliente-section">
                    <span>Age:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 30px; "></div>
                  <!-- Repite los elementos de texto y espacio vacío según sea necesario -->
                </div>
                <!-- final de la fila 1-->
                <!-- inicio de la fila 2-->
            
                <!-- Fila 3-->
                <div class="fila">
                  <div class="cliente-section" >
                    <span>Peso:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 40px; "></div>
                  <div class="cliente-section">
                    <span>Talla:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 35px; "></div>
                  <div class="cliente-section">
                     <span>SSN:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 160px; "></div>
                  <div class="cliente-section">
                    <span>A:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 150px; "></div>
                  <div class="cliente-section">
                    <span>Card:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 150px; "></div>
                  <!-- Repite los elementos de texto y espacio vacío según sea necesario -->
                </div>
                <!-- Fin fila 3 -->
              </div>
          </section>
            <!--Fin de section cinco-->
          <!--Section seis-->
          <section class="my-border-section-gris">
            <div class="container-seleccion">
                <div class="fila">
                    <div class="titulo-seleccion">
                      <label>DEP.4</label>
                      <div class="espacio-vacio" style="width: 110px;"></div>
                      <div class="container-si-no">
                        <span class="seleccionado-si-no">M</span>
                        <label class="mi-radio">
                            <input type="radio" name="opcion22" value="opcion22" checked>
                            <span></span>
                        </label>
                        <span class="seleccionado-si-no">F</span>
                        <label class="mi-radio">
                            <input type="radio" name="opcion22" value="opcion22">
                            <span></span>

                        </label>
                      </div>
                    </div>
                    <div class="elemento">
                      <label>cobertura</label>
                      <div class="container-si-no">
                       <span class="seleccionado-si-no">Si</span>
                      <label class="mi-radio">
                        <input type="radio" name="opcion23" value="opcion23">
                        <span></span>
                      </label>
                     <span class="seleccionado-si-no">No</span>
                      <label class="mi-radio">
                        <input type="radio" name="opcion23" value="opcion23">
                        <span></span>
                      </label>
                      </div>
                    </div>
                    <div class="container-align-section-filaUno">
                        <div class="elemento">
                          <label>citizen</label>
                          <div class="container-si-no">
                          <label class="mi-radio">
                            <input type="radio" name="opcion24" value="opcion24">
                            <span></span>
                          </label>
                          </div>
                        </div>
                        <div class="elemento">
                          <label>resident</label>
                          <div class="container-si-no">
                            <label class="mi-radio">
                              <input type="radio" name="opcion24" value="opcion24"  checked>
                              <span></span>
                            </label>
                            </div>
                        </div>
                        <div class="elemento">
                          <label>employee card</label>
                          <div class="container-si-no">
                            <label class="mi-radio">
                              <input type="radio" name="opcion24" value="opcion24">
                              <span></span>
                            </label>
                            </div>
                        </div>
                        <div class="elemento">
                          <label>others</label>
                          <div class="container-si-no">
                            <label class="mi-radio">
                              <input type="radio" name="opcion24" value="opcion24">
                              <span></span>
                            </label>
                            </div>
                        </div>
                  </div> 
            </div>
      <!-- Aqui empieza la segunda fila -->
              <div class="fila">
                <div class="cliente-section" >
                  <span>Name:</span>
                </div>
                <div class="espacio-vacio" style="width: 20%; "></div>
                <div class="cliente-section">
                  <span>M-Name:</span>
                </div>
                <div class="espacio-vacio" style="width: 160px; "></div>
                <div class="cliente-section">
                   <span>Last Name:</span>
                </div>
                <div class="espacio-vacio" style="width: 115px; "></div>
                <div class="cliente-section">
                  <span>DOB:</span>
                </div>
                <div class="espacio-vacio" style="width: 110px; "></div>
                <div class="cliente-section">
                  <span>Age:</span>
                </div>
                <div class="espacio-vacio" style="width: 30px; "></div>
                <!-- Repite los elementos de texto y espacio vacío según sea necesario -->
              </div>
              <!-- final de la fila 1-->
              <!-- inicio de la fila 2-->
          
              <!-- Fila 3-->
              <div class="fila">
                <div class="cliente-section" >
                  <span>Peso:</span>
                </div>
                <div class="espacio-vacio" style="width: 40px; "></div>
                <div class="cliente-section">
                  <span>Talla:</span>
                </div>
                <div class="espacio-vacio" style="width: 35px; "></div>
                <div class="cliente-section">
                   <span>SSN:</span>
                </div>
                <div class="espacio-vacio" style="width: 160px; "></div>
                <div class="cliente-section">
                  <span>A:</span>
                </div>
                <div class="espacio-vacio" style="width: 150px; "></div>
                <div class="cliente-section">
                  <span>Card:</span>
                </div>
                <div class="espacio-vacio" style="width: 150px; "></div>
                <!-- Repite los elementos de texto y espacio vacío según sea necesario -->
              </div>
              <!-- Fin fila 3 -->
            </div>
        </section>
          <!--Fin de section seis-->

          <!--Section Siete dos columnas con info-->
          <section class="section-container-Accountn">
            <div class="container-border-colorido-left">
              <%= image_tag wicked_pdf_asset_base64("border_left.png"), class:
              "border_colorido-left", alt: "border colorido" %>
            <section class="my-gradient-border-colorido" style="width:40%;">
              <div class="container-seleccion">
                <div class="fila">
                  <div class="cliente-section" >
                    <span>Income:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 20%; "></div>
                  <!-- Repite los elementos de texto y espacio vacío según sea necesario -->
                </div>
                <div class="fila">
                  <div class="cliente-section" >
                    <span>Empleador:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 20%; "></div>
                  <div class="cliente-section" >
                    <span>Work Type:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 20%; "></div>
                  <!-- Repite los elementos de texto y espacio vacío según sea necesario -->
                </div>
                <div class="fila">
                  <div class="cliente-section" >
                    <span>Telef. Empleador:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 20%; "></div>
                  <!-- Repite los elementos de texto y espacio vacío según sea necesario -->
                </div>
              </div>
            </section>
            </div>

            <div class="container-border-colorido-right">
              <%= image_tag wicked_pdf_asset_base64("border_right.png"), class:
              "border_colorido-right", alt: "border colorido" %>
            <section class="my-gradient-border-colorido"  style="width:58%;">
              <div class="container-seleccion">  
                <div class="fila">
                  <div class="cliente-section" >
                    <span>Account Holder:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 20%; "></div>
                  <!-- Repite los elementos de texto y espacio vacío según sea necesario -->
                </div>
                <div class="fila">
                  <div class="cliente-section" >
                    <span>Bank:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 33.84%; "></div>
                  <div class="cliente-section" >
                    <span>Routing #:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 28.58%; "></div>
                  <div class="cliente-section" >
                    <span>Account #:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 28.58%; "></div>
                  <!-- Repite los elementos de texto y espacio vacío según sea necesario -->
                </div>
                <div class="fila">
                  <div class="cliente-section" >
                    <span>Card:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 27.91%; "></div>
                  <div class="cliente-section" >
                    <span>Exp:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 36.05%; "></div>
                  <div class="cliente-section" >
                    <span>CVC:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 36.05%; "></div>
                  <!-- Repite los elementos de texto y espacio vacío según sea necesario -->
                </div>
              </div>
            </section>
            </div>
          </section>
          <!-- Fin de la section Siete y las dos Columnas-->

          <!-- Section ocho-->
          <div class="container-border-colorido">
            <%= image_tag wicked_pdf_asset_base64("border-company.png"), class:
            "border_colorido", alt: "border colorido" %>
            
          <section class="my-gradient-border-colorido-company" style="">
            <div class="container-seleccion-card">
              <div class="fila">
                <div class="cliente-section" >
                  <span>Company:</span>
                </div>
                <div class="espacio-vacio" style="width: 10%; "></div>
                <div class="cliente-section" >
                  <span>Efective Day:</span>
                </div>
                <div class="espacio-vacio" style="width: 10%; "></div>
                <div class="cliente-section" >
                  <span>Plan Type:</span>
                </div>
                <div class="espacio-vacio" style="width: 10%; "></div>
                <div class="cliente-section" >
                  <span>Plan:</span>
                </div>
                <div class="espacio-vacio" style="width: 10%; "></div>
                <div class="cliente-section" >
                  <span>Monthly Premium:</span>
                </div>
                <div class="espacio-vacio" style="width: 10%; "></div>
                <!-- Repite los elementos de texto y espacio vacío según sea necesario -->
              </div>
            </div>
          </section>
          <!--Fin de la section ocho-->
        </div>
        </div>
        <div class="footer">
          <section class="section-container-Accountn" >
            <section class="my-border-section" style="width:21%;">
              <div class="container-seleccion border-interno-box-footer">
                <div class="fila">
                  <div class="cliente-section" >
                    <span>PCP:</span>
                  </div>
                  <div class="espacio-vacio-border" style="width: 25px; "></div>
                  
                </div>
                <div class="fila">
                  <div class="cliente-section" >
                    <span>Specialis Doctor:</span>
                  </div>
                  <div class="espacio-vacio-border" style="width: 25px; "></div>
                  
                </div>
                <div class="fila">
                  <div class="cliente-section" >
                    <span>Emergency Room:</span>
                  </div>
                  <div class="espacio-vacio-border" style="width: 23px; "></div>
                  
                </div>
                <div class="fila">
                  <div class="cliente-section" >
                    <span>Medicine:</span>
                  </div>
                  <div class="espacio-vacio-border" style="width: 25px; "></div>
                  
                </div>
                <div class="fila">
                  <div class="cliente-section" >
                    <span>Deductible:</span>
                  </div>
                  <div class="espacio-vacio-border" style="width: 25px; "></div>
                  
                </div>
                <div class="fila">
                  <div class="cliente-section" >
                    <span>Out Pocket:</span>
                  </div>
                  <div class="espacio-vacio-border" style="width: 25px; "></div>
                  
                </div>
              </div>
            </section>
            <section class="my-container-footer" style="width:80%; height:100%; ">
              <div class="container-seleccion-footer" style="margin-left:1%;">
                <div class="fila">
                  <span class="text-footer ">
                  Firmo autorizando a mi Agente a procesar mi solicitud y comprendo que debo permanecer un período mínimo de un año con el Seguro suscrito. 
                  I sign authorizing my Agent to process my application and I understand that I must stay a minimum period of one year with the Insurance subscrited. 
                  </span>
                </div>
                <div class="fila " style="padding-top: 3.5%; padding-bottom:3.5%;">
                  <div class="cliente-section" >
                    <span class="text-footer">Fecha/Date:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 15px; "></div>
                  <div class="cliente-section" >
                    <span class="text-footer">Firma/Signed:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 15px; "></div>
                  <div class="cliente-section" >
                    <span class="text-footer">Inicial/Initial:</span>
                  </div>
                  <div class="espacio-vacio" style="width: 15px; "></div>
                </div>
                <div class="fila">
                  <span class="text-footer">
                    NOTA: Documentos posiblemente requeridos, ID, Estatus migratorio, Ingresos (Ejemplo: W2, Income Tax, Estados de cuenta, pay stubs). <br/>
                    NOTE: Documents possibbly required, ID, Migratory Status, Income (Example: W2, 1099, Income Tax, Statezments, pay stubs).
                  </span>
                </div>
              </div>
            </section>
          </section>
        </div>
   
            
        <%= image_tag wicked_pdf_asset_base64("imagen-footer.png"), class:
        "corner-image-bottom-left", alt: "imagen de marco inferior
        izquierdo" %>

      
